/* Page.module.css */

/* Start of Map styling */

    .map-container {
        height:90vh;
    }
  
  .map-container button {
    border:none;
    background: none;
  }
  
  .map-container .close {
    position: absolute;
    z-index: 99;
    right: 20px;;
    top:20px;
    cursor: pointer;
  }
  
  /* End of Map styling */

  /* Start of pop up styling */

    .pop-up {
        position: relative;
        max-width: 1280px;
        height: 70vh;
        margin: var(--size-xl) auto;
        padding: var(--size-lg);
        background: var(--white);
        overflow: hidden;
    }

  /* End of pop up styling */