/* Page.module.css */

/* Start of Map styling */

    .map-container {
        height:90vh;
    }
  
  .map-container button {
    border:none;
    background: none;
  }
  
  .map-container .close {
    position: absolute;
    z-index: 99;
    right: 20px;;
    top:20px;
    cursor: pointer;
  }

  .map-container .map-button {
    color: var(--white);
    padding: var(--size-md) var(--size-lg);
    border: 1px solid var(--hyperlink-selected);
    border-radius: var(--size-sm);
    outline: none;
    background: var(--hyperlink);
  }
  
  .map-container .map-button:hover {
    cursor: pointer;
    background: var(--hyperlink-selected);
  }
  
  /* End of Map styling */

  /* Start of pop up styling */

    .pop-up {
        position: relative;
        max-width: 1280px;
        height: 70vh;
        margin: var(--size-xl) auto;
        padding: var(--size-lg);
        background: var(--white);
        overflow: hidden;
    }

  /* End of pop up styling */