:root {
  /* Padding and margin variables */
  --size-xs: 3px;
  --size-sm: 5px;
  --size-md: 10px;
  --size-lg: 20px;
  --size-xl: 30px;
  --size-xxl: 60px;

  /* Colour variables */
  --lighter-grey: #f5f5f5;
  --light-grey: #adc3b6;
  --dark-grey: #444;
  --black: #000;
  --white: #FFF;
  --hyperlink: #00a4d6;
  --hyperlink-selected: #006887;
  
  /* Curved corners variables */
  --curved-corners-radius-md: 15px;
  --curved-corners-radius-sm: 8px;
}

/* Start of html tag styles */

body {
  margin:0;
  background: var(--white);
}

ul {
  margin:0;
}

a {
  color: var(--hyperlink);
  text-decoration: none;
}

a:hover {
  color: var(--black);
  text-decoration: underline;
}

h1, h2 {
  font-size:28px;
  font-weight: 500;
  color: var(--dark-grey)
}

h2 {
  font-size: 20px;
  margin:0;
}

input {
  min-width: 300px;
}

input, select {
  padding: var(--size-md);
  border-radius: var(--size-sm);
  border: 1px solid var(--light-grey);
  color: var(--dark-grey);
}

select {
  padding: 9px;
}

input:focus, input:focus-visible, select:focus {
  border: 1px solid var(--hyperlink);
  outline: none;
}

button {
  color: var(--white);
  padding: var(--size-md) var(--size-lg);
  border: 1px solid var(--hyperlink-selected);
  border-radius: var(--size-sm);
  outline: none;
  background: var(--hyperlink);
}

button:hover {
  cursor: pointer;
  background: var(--hyperlink-selected);
}

/* Start of table styling */

table {
  text-align: left;
  font-size:12px;
  font-weight: 500;
  width:100%;
  border-top:1px solid var(--light-grey);
  border-right:1px solid var(--light-grey);
  border-left:1px solid var(--light-grey);
}

td, th {
  /* border:1px solid #ff5500; */
  padding: var(--size-sm) var(--size-md);
  border-bottom:1px solid var(--light-grey);
}

th {
  padding: var(--size-lg) var(--size-md);
}

.table-details td {
  background: var(--lighter-grey);
}

/* Start of pagination styling */

/* End of pagination styling */

/* End of table styling */

/* End of html tag styles */

.link {
  cursor: pointer;
  color: var(--hyperlink);
}

.link:hover, .link-selected {
  cursor: pointer;
  color: var(--hyperlink-selected);
}

.display-inline-block {
  display:inline-block;
}

.position-absolute {
  position: absolute;
}

.selected, .selected a {
  padding: 0 0 var(--size-md) 0;
  color: var(--hyperlink-selected);
  font-weight: bold;
}

.selected {
  border-bottom: 3px solid var(--hyperlink-selected);
}

.selected a:hover {
  color: var(--black);
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.container {
  width:1280px;
  height:100%;
  margin:0 auto;
}

/* TODO - Move these header styles in to a header module CSS */

.header {
  padding: var(--size-sm) 0;
  border-bottom:1px solid var(--light-grey);
  background: var(--white);
}

.header h1 {
  position: relative;
  right: 8px;
  display: flex;
  align-items: center; 
  font-weight: 500;
  font-size:18px;
  color: var(--dark-grey);
  margin:0;
}

.header h1 img {
  margin-right: var(--size-md);
}

.header .header-icons {
  filter: invert(44%) sepia(89%) saturate(2582%) hue-rotate(164deg) brightness(99%) contrast(101%);
  margin-top: var(--size-xs);
}

/* Start of padding and margin */

/* In a 'real' project I'd likely have a whole set of these for eg margin-top-xs, padding-bottom-lg etc but for this I'm just creating what I need */

.padding-left-none {
  padding-left:0;
}

.margin-right-sm {
  margin-right: var(--size-sm)
}

.margin-right-md {
  margin-right: var(--size-md)
}

.margin-bottom-xl {
  margin-bottom: var(--size-xl)
}

.margin-bottom-xxl {
  margin-bottom: var(--size-xxl)
}

.margin-bottom-lg {
  margin-bottom: var(--size-lg)
}

.margin-bottom-md {
  margin-bottom: var(--size-md)
}

.margin-left-lg {
  margin-left: var(--size-lg)
}

.margin-left-md {
  margin-left: var(--size-md)
}

.margin-top-sm {
  margin-top: var(--size-sm)
}

.margin-top-lg {
  margin-top: var(--size-lg);
}

.margin-top-xxl {
  margin-top: var(--size-xxl);
}

.date-picker {
  position:absolute;
  z-index: 999;
  width:1258px;
  padding: var(--size-md);
  margin-top: var(--size-md);
  border: 1px solid var(--hyperlink);
  border-radius: var(--size-sm);
  background: var(--white);
}


/* End of padding and margin overwrites */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9;
  margin-top:var(--size-xl);
  padding: var(--size-sm) 0;
  border-top:1px solid var(--light-grey);
  width:100%;
  background: var(--white);
}

.footer-menu {
  font-size:13px;
  margin: var(--size-md) 0;
  list-style: none;
}

.footer-menu li {
  display:inline;
  margin:0 var(--size-md);
}

.main-menu {
  margin-top: 7px;
  list-style: none;
}

.main-menu li {
  display:inline;
  margin:0 var(--size-md);
}

/* Start of responsive grid system */

/* Could be a fully fledge grid system - but just writting what I need for now */

/* Here are my breakpoint sizes
xs- 0 — 480px for mobile devices
sm- 481px — 768px for iPads & tablets
md - 769px — 1024px for small screens like laptop
lg -1025px — 1200px for large screens like Desktops
xl- 1201px and above for extra large screens like TV. */

.row {
  width:100%;
  height:100%;
  display:table;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  vertical-align: top;
  display: table-cell;
  padding: 0 8px;
}

.col-md-1 {
  width: 8.33%;
}

.col-md-2 {
  width: 16.66%;
}

.col-md-3 {
  width: 24.99%;
}

.col-md-4 {
  width: 33.33%;
}

.col-md-5 {
  width: 41.66%;
}

.col-md-6 {
  width: 50%;
}

.col-md-7 {
  width: 58.33%;
}

.col-md-8 {
  width: 66.66%;
}

.col-md-9 {
  width: 74.99%;
}

.col-md-10 {
  width: 83.33%;
}

.col-md-11 {
  width: 91.66%;
}

.col-md-12 {
  width: 100%;
}

@media (max-width: 768px) {

  .wrapper {
    max-width: 500px;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    display: block;
  }

  .col-sm-12 {
    width: auto
  }
}

/* End of responsive grid system */

.chart-container {
  width: 100%;
  height: 100%;
}

.filters {
  padding: 0;
}

.filters li {
  font-size:16px;
  font-weight: 100;
  margin:0;
  list-style: none;
  cursor: pointer;
}

.filters li.selected {
  border:none;
}

.filter-buttons .filter.selected {

  border-bottom:none;
  padding:0;
}

.filter-buttons .filter {
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
}